.card-btn-footer {
  margin: 0 0.6rem 0.6rem 0.6rem;
}
.card-component {
  cursor: pointer;
  justify-content: space-between;
}
.card-icon {
  font-size: 1.2rem;
}
.card-icon:hover {
  background-color: #ffffff40;
}
