.single-video-iframe {
  width: 50rem;
  height: 30rem;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}
.single-video-btn {
  margin-top: 1rem;
  display: flex;
}
.title-video {
  margin-top: 1rem;
  margin-left: 6px;
}

@media only screen and (max-width: 600px) {
  .single-video-iframe {
    margin-top: 2rem;
    width: 90vw;
    height: 20rem;
  }
}
