iframe {
  width: 50rem;
  height: 30rem;
}
.single-video-btn {
  margin-top: 1rem;
  display: flex;
}
.title-video {
  margin-top: 1rem;
  margin-left: 6px;
}

@media only screen and (max-width: 600px) {
  iframe {
    margin-top: 2rem;
    width: 90vw;
    height: 20rem;
  }
}
