header {
  background-color: var(--dark-dark-mode);
}
.nav-logo {
  object-fit: cover;
}
i {
  color: var(--white);
}
.user-ac-btn p {
  color: var(--white);
}
input {
  color: var(--white);
}
.search-navbar input {
  width: 14rem;
}
.drop-box {
  position: absolute;
  color: inherit;
  top: -111px;
  right: 6px;
  border-left: 1px solid gray;
  transition: 0.4s ease-in-out;
}
.drop-box p {
  cursor: pointer;
}
.drop-box p:hover {
  background-color: rgba(255, 255, 255, 0.13);
}
.btn-icon {
  color: white;
}
.show-box {
  top: 5rem;
}
.drop-box p {
  font-size: 1.1rem;
  padding: 0.5rem 2rem;
}
.nav-center {
  position: relative;
}
.suggestion {
  position: absolute;
  top: 3rem;
  width: 100%;
}
.suggestion-box {
  background-color: rgb(251, 251, 251);
  color: black;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 25rem;
  max-height: 20rem;
}
.opt-suggestion {
  padding: 0.6rem;
  margin: 1px;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  transition: 0.4s;
}
.opt-suggestion:hover {
  background-color: rgba(128, 128, 128, 0.264);
}
.search-icon-sug {
  color: black;
  padding-inline: 0.6rem;
}

@media only screen and (max-width: 600px) {
  .user-ac {
    display: unset;
  }
  .search-navbar input {
    width: 12rem;
  }
}
@media only screen and (max-width: 1100px) {
  .nav-center {
    display: unset;
  }
  .user-ac {
    display: unset;
  }
}
