.sidebar-btn {
  margin: 0.8rem 0;
  cursor: pointer;
  padding: 0.5rem 10px;
  border-radius: 10px;
  transition: 0.4s;
}
.sidebar-btn:hover {
  background-color: rgba(128, 128, 128, 0.382);
}
.bg-active {
  background-color: rgba(128, 128, 128, 0.382);
}
.display-none {
  display: none;
}
.responsive-side-bar {
  position: fixed;
  background-color: black;
  z-index: 1200;
  width: 100%;
  padding: 2rem;
  height: 100vh;
  transition: 0.4s;
  left: 0;
  top: 5rem;
}
@media only screen and (max-width: 600px) {
  .side-bar {
    display: none;
  }
}
