.sidebar-btn {
  margin: 2rem 0;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .side-bar {
    position: absolute;
    background-color: black;
    z-index: 1200;
    width: 100%;
    padding: 2rem;
    height: 100vh;
    transition: 0.8s;
    display: none;
  }
}
