.main-box {
  margin: 6rem 2rem 1rem 2rem;
  display: flex;
  min-height: 70vh;
}
.check-list-item {
  padding: 0.5rem 2rem;
}
.check-list-item:hover {
  opacity: 0.6;
  color: inherit;
}
.grid-three {
  gap: 5rem;
}
.main-product {
  margin: auto;
}
.img-height {
  height: 18rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-video {
  width: 90vw;
  height: 70vh;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.spacial-text {
  font-size: 4rem;
  font-weight: bolder;
}
.spacial-box {
  margin-top: 2rem;
}
.hero-iframe {
  width: 100%;
  height: 100%;
}
.red-highlight {
  color: rgb(255, 0, 0);
}

.hero-btn {
  margin-top: 1rem;
}
.demo-video {
  margin-top: 2rem;
}
.loader-position {
  position: absolute;
}

.visiblity-hidden {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .main-box {
    margin: 6.5rem 0rem;
  }
  .grid-three {
    gap: 1rem 0.4rem;
    grid-template-columns: 1fr !important;
  }
  .hero-video {
    height: 35vh;
  }
  .hero-video {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .grid-three {
    grid-template-columns: 1fr 1fr;
  }
}
